#form_regisztracio{
    display: none;
}

body{
    background-image: linear-gradient(to right, red, black);
    user-select: none;
}

.nav{
    background-color: black;
    color: white;
}

form{
    color: white;
    font-weight: bold;
}

.alertPopup{
    display: none;
    width: 400px;
    height: 150px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 200px;
    left: 40%;
    border: 2px solid darkred;
    box-shadow: 0 0 5px 5px darkred;
}

.alert-success{
    display: none;
}